#redCircle {
  background-color: red;
  background-image: linear-gradient( 64.5deg,  rgba(245,116,185,1) 14.7%, rgba(89,97,223,1) 88.7% );
  width: 50px;
  height: 50px;
  border-radius: 50px;
  position: absolute;
  left: 0;
  top: 0;
}

.counter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.counter * {
  text-align: center;
  background: -webkit-linear-gradient( 64.5deg,  rgba(245,116,185,1) 14.7%, rgba(89,97,223,1) 88.7% );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  margin: unset;
}
