.todos {
  margin-top: 40px;
  .todo {
    border: 1px solid $darkBlue;
    background-color: $lightBlue;
    margin-top: 20px;

    .label {
      background-color: $darkBlue;
      color: $green;
      padding: 10px;
    }
    .description {
      padding: 10px;
    }

    .time {
      font-size: 0.75rem;
      color: #838383;
      text-align: right;
      padding: 10px;
    }
  }
}
